body {
  margin: 0;
  padding: 0;
  background-color: #2E3030;
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
}

#header {
  width: 100%;
  background-color: #E80C7A;
  height: 150px;
  margin-bottom: 20px;
}

#logo {
  line-height: 150px;
  width: 800px;
  margin: auto;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  margin: 0;
}
audio {
  width: 100%;
  margin-bottom: 20px;
}

#tunesApp {
  width: 800px;
  margin: auto;
}

#tunesApp table {
  margin: 0;
  width: 800px;
  border-collapse: collapse;
  border: 1px #E8E1D8;
}

#tunesApp table th {
  text-align: left;
  font-size: 22px;
}

#tunesApp table tr td{
  padding: 10px;
}

#tunesApp table tr:hover {
  cursor: pointer;
  background-color: #E80C7A;
  color: #FFFFFF;
}



